[submodule "beamerthemes"]
	path = Slides_LaTeX
	url = git@github.com:supervedovatto/beamerthemes.git
[submodule "Slides_LaTeX"]
	path = Slides_LaTeX
	url = https://github.com/supervedovatto/beamerthemes
