[submodule "Slides_LaTeX"]
	path = Slides_LaTeX
	url = git@github.com:supervedovatto/beamerthemes.git
[submodule "Poster_LaTeX"]
	path = Poster_LaTeX
	url = git@github.com:supervedovatto/PosterSemat.git
[submodule "Resumo_LaTeX"]
	path = Resumo_LaTeX
	url = git@github.com:supervedovatto/ResumoSeMaT.git
